/** @format */

.body-page {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
.body-wrapper {
  background-image: url(../image/fon.jpg);
  background-size: cover;
  overflow: auto;
  min-height: 100%;
}
.header {
  padding-top: 18px;
  padding-bottom: 18px;
  background: rgba(0, 0, 0, 0.4);
}
.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  transition-duration: 0.5s;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 17px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.header-text::before {
  content: "";
  height: 19px;
  width: 1px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  margin-right: 27px;
  margin-left: 27px;
  display: inline-block;
  vertical-align: middle;
}
.login-link {
  color: #ffffff;
  transition-duration: 0.5s;
}
.logo:hover,
.login-link:hover {
  color: #01813f;
  opacity: 0.41;
}
.menu-icon > path {
  transition-duration: 0.5s;
}
.menu-icon:hover > path {
  fill: #01813f;
  opacity: 0.41;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.form {
  width: 444px;
  background-color: #fff;
  padding: 30px 60px;
  position: relative;
}
.form-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: last baseline;
  row-gap: 13px;
}
.form-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form-title::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  left: 0;
  top: 29px;
}
.link-log {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  justify-self: end;
}

.btn {
  display: flex;
  align-items: center;

  width: 160px;
  color: #fff;
  margin-bottom: 40px;
  border-radius: 4px;
}
.Facebook {
  background-color: #305db8;
  padding: 11px 17px 12px 16px;
}
.Facebook:hover {
  background-color: #022263;
}
.Google {
  background-color: #df4a32;
  padding: 13px 12px 10px 10px;
  justify-self: end;
}
.Google:hover {
  background-color: #ab1f09;
}
.btn-google,
.btn-face {
  margin-left: 38px;
}

.btn-face::before {
  content: "";
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 18px;
}
.btn-google::before {
  content: "";
  height: 28px;
  width: 1px;
  background: #2b0d09;
  opacity: 0.1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 30px;
}
.border {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #f2f2f2;
}

.border-text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.form-item {
  margin-top: 16px;
  padding: 15px 19px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 100%;
}
.form-item:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}
::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}
.label-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox {
  display: none;
}
.label-checkbox {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 28px;
  cursor: pointer;
}

.label-checkbox::before {
  content: "";
  background-image: url(../image/checkbox.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  position: absolute;
  left: 62px;
  bottom: 95px;
  display: block;
}

.checkbox:checked + .label-checkbox::before {
  background-image: url();
}

.checkbox-link {
  color: #3cb878;
}
.checkbox-link:hover,
.link-log:hover {
  color: #01813f;
  text-decoration: underline;
}

.btn-create {
  border: none;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  width: 100%;
}
.btn-create:hover {
  background-color: #01813f;
}
